#/etc/systemd/system/modbus4mqtt@.service
[Unit]
Description=Loop the poll and transmit to mqtt
Documentation=none
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/modbus4mqtt --lopp True --mqtt_topic_prefix %H --config /etc/modbus4mqtt/config/%I
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
