#/etc/systemd/system/modbus4mqttpower@.service
[Unit]
Description=Modbus4MQTT power service
Documentation=none
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/modbus4mqtt --mqtt_topic_prefix %H --loop False --config /etc/modbus4mqtt/power/%I

[Install]
WantedBy=default.target
