#/etc/systemd/system/modbus4mqtt@.service
[Unit]
Description=poll once and transmit to mqtt
Documentation=none
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/modbus4mqtt --mqtt_topic_prefix %H --config /etc/modbus4mqtt/pro/%I
#Restart=always
#RestartSec=30

[Install]
WantedBy=default.target
