name: Integration Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  integration:
    runs-on: ubuntu-latest
    env:
      MQTT_HOST: 127.0.0.1
      MQTT_PORT: 1883
      MODBUS_HOST: 127.0.0.1
      MODBUS_PORT: 5020
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Mosquitto container
        run: |
          docker run -d --name mosquitto -p $MQTT_PORT:$MQTT_PORT -v ./tests/mosquitto:/mosquitto/config eclipse-mosquitto:2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install .[test]

      - name: Run the integration tests.
        run: |
          pytest tests/test_modbus_server.py